# AB-inBev Assignment
# E-Commerce

[Github Link](https://github.com/aa-ryan/AbinBev_Assignment) for Assignment.

In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /Users/arx6363/opt/miniconda3/envs/hackpions1/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/arx6363/opt/miniconda3/envs/hackpions1/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/arx6363/opt/miniconda3/envs/hackpions1/lib/python3.8/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.20.3 in /Users/arx6363/opt/miniconda3/envs/hackpions1/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /Users/arx6363/opt/miniconda3/envs/hackpions1/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

#### Convert CSV to Pandas Dataframe

In [2]:
list_of_orders = pd.read_csv("data/list_of_orders.csv")
order_details = pd.read_csv("data/order_details.csv")
sales_target = pd.read_csv("data/sales_target.csv")

## Pre-processing and Data Cleansing
* [x] Check Shape of Data
* [x] Check NA values
* [x] Similar Date Format
* [x] Check Data *info*

#### Shape of Data

In [3]:
print("Dimensions of List of Order -> ", list_of_orders.shape)
print("Dimensions of Order Detail -> ", order_details.shape)
print("Dimensions of Sales Target -> ", sales_target.shape)

Dimensions of List of Order ->  (500, 5)
Dimensions of Order Detail ->  (1500, 6)
Dimensions of Sales Target ->  (36, 3)

#### Check NA values
* None Found

In [4]:
print("List of Orders DataFrame\n")
print(list_of_orders.isnull().sum(), end="\n\n")
print("Order Details DataFrame\n")
print(order_details.isnull().sum(), end='\n\n')
print("Sales Target DataFrame\n")
print(sales_target.isnull().sum(), end='\n\n')

List of Orders DataFrame

Order ID        0
Order Date      0
CustomerName    0
State           0
City            0
dtype: int64

Order Details DataFrame

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
dtype: int64

Sales Target DataFrame

Month of Order Date    0
Category               0
Target                 0
dtype: int64

#### Same format of Date
* YYYY-MM-DD

In [8]:
list_of_orders['Order Date'] =  pd.to_datetime(list_of_orders['Order Date'], dayfirst=True)

#### Check Data info
* Focus on Dtype of Date

In [9]:
list_of_orders.info()
order_details.info()
sales_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Order Date    500 non-null    datetime64[ns]
 2   CustomerName  500 non-null    object
 3   State         500 non-null    object
 4   City          500 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
dtypes: int64(3), object(3)
memory usage: 70.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  36 non-null     object
 1   Category             36 non-null     object
 2   Target               36 non-null     int64
dtypes: int64(1), object(2)
memory usage: 992.0+ bytes

## Dataset Overview

In [16]:
print("List of Orders DataFrame\n")
list_of_orders.head()

List of Orders DataFrame

  Order ID Order Date CustomerName           State       City
0  B-25601 2018-04-01       Bharat         Gujarat  Ahmedabad
1  B-25602 2018-04-01        Pearl     Maharashtra       Pune
2  B-25603 2018-04-03        Jahan  Madhya Pradesh     Bhopal
3  B-25604 2018-04-03       Divsha       Rajasthan     Jaipur
4  B-25605 2018-04-05      Kasheen     West Bengal    Kolkata

In [17]:
print("Order Details DataFrame\n")
order_details.head()

Order Details DataFrame

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601    1275   -1148         7    Furniture         Bookcases
1  B-25601      66     -12         5     Clothing             Stole
2  B-25601       8      -2         3     Clothing       Hankerchief
3  B-25601      80     -56         4  Electronics  Electronic Games
4  B-25602     168    -111         2  Electronics            Phones

In [18]:
print("Sales Target DataFrame\n")
sales_target.head()

Sales Target DataFrame

  Month of Order Date   Category  Target
0              18-Apr  Furniture   10400
1              18-May  Furniture   10500
2              18-Jun  Furniture   10600
3              18-Jul  Furniture   10800
4              18-Aug  Furniture   10900